    <h4><%= pregunta %>?</h4>
    <form class="" action="/quizes/answer" method="get">
      <input type="text" name="respuesta" placeholder="Responda aqui" id="respuesta" required autocomplete="off" autofocus>
      <input type="submit" value="Responder">
    </form>
